
/*---------- ContentPage Header ----------*/

.x-navbar {
	background: $navy!important;
	border: none!important;
	box-shadow: none!important;
	.x-nav-wrap .x-nav>li>a {
        text-transform: none !important;
        font-weight: 700 !important;
    }

    li:first-child > a {
        padding-left: 0!important;
    }

    li:last-child > a {
    	padding-right: 0px!important;
    }

	a:hover, .current-menu-item > a {
		color: white!important;
		box-shadow: inset 0 4px 0 0 white!important;
	}

    .desktop .x-nav > li > a {
        padding-top: 0px!important;
        height: 57px!important;
    }

    ul {
        padding-top: 37px!important;
    }
}

.x-brand {
	margin: 10px 0!important;
}

.x-breadcrumb-wrap {
	display: none;
}

.x-text-content {
	font-family: 'Fredoka One', cursive;
}

.sub-menu {
	width: 100%!important;
	margin-top: 0px!important;
	position: absolute;
    width: 100%;
    background-color: transparent!important;

        &::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: .9;
			background-color: $navy;
		}

	li {
		width: 100%!important;
		max-width: 100%!important;
        text-align: center!important;
	}
}

.x-navbar .desktop .x-nav > li ul {
    top: 20px!important;
}

.x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a, .x-navbar .current-menu-item>a, .x-navbar a:hover {
	box-shadow: none!important;
	opacity: .5;
}

#menu-item-276 {
    a {
        background-color: $yellow;
        height: 35px!important;
        padding: 7px 35px 7px 25px!important;
        margin: -10px 0;

            border: 2px solid $yellow;

        &:hover {
            background-color: transparent!important;
            color: white!important;
            border: 2px solid $yellow;
            opacity: 1;
        }
    }

    a::after {
        content: "";
        height: 13px;
        width: 13px;
        position: absolute;
        border: solid white;
        border-radius: 2px;
        border-width: 0 4px 4px 0;
        display: block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        top: 7px;
        right: 10px;
    }
}

@media screen and (max-width: 980px) {

        .x-btn-navbar {
        	margin-top: 45px;
            padding: 0!important;
        	color: white!important;
        	background-color: transparent!important;
        	box-shadow: none!important;

        	
        }

        .x-navbar {
        	position: relative;
        	box-shadow: none!important;

        	a:hover {
        		box-shadow: none!important;

        	}

        	/*a:hover {
        		transform: rotate(90deg);
        		transition: 1s;
        		box-shadow: none!important;
        	}

        	.x-btn-navbar.collapsed:hover {
        		transform: rotate(0deg);
        		transition: 1s;
        	}

        	.x-nav-wrap .x-nav>li>a:hover {
        		transform: none;
        	}*/

        	.mobile {
        		position: relative;
        		width: 100%;
        		margin-top: 90px;
                

        		&::before {
			        content: "";
			        display: block;
			        position: absolute;
			        width: 100%;
			        height: 100%;
			        opacity: .9;
			        background-color: $navy;
			        border-radius: 4px;
			    }

			    .x-nav {
			    	padding: 10px 30px;
			    }
        	}
        }

    }

    /* Mobile Menu Open */

.mobile-menu-open {
    .masthead {
        .x-navbar {
            background-color: $navy!important;
            min-height: 100vh;
            transition: all 0.3s ease;
        }
    }
}