
/*---------- ContentPage Sections ----------*/

.e53-40 {
    position: relative;
}

.e53-19 {
	.x-anchor-text {
		position: relative;
		&::after {
			content: "";
			height: 20px;
			width: 20px;
			position: absolute;
			border: solid white;
			border-radius: 4px;
  			border-width: 0 7px 7px 0;
  			display: block;
  			padding: 3px;
  			transform: rotate(-45deg);
  			-webkit-transform: rotate(-45deg);
  			top: 0;
  			right: -25px;
		}
	}
}

.x-quote-content {

	&::before {
	    display: block;
	    content: "";
	    width: 90px;
	    height: 90px;
	    position: absolute;
	    top: -50px;
	    left: -1%;
	    border-top: solid 6px #e5007d;
	    border-left: solid 6px #e5007d;
	}

	&::after {
	    display: block;
	    content: "";
	    width: 90px;
	    height: 90px;
	    position: absolute;
	    bottom: -20px;
	    right: 1%;
	    border-bottom: solid 6px #e5007d;
	    border-right: solid 6px #e5007d;
	}
}

.e53-41.x-column, .e53-45 {
	position: relative;

	/*&::before {
		display: block;
	    content: "";
	    width: 190px;
	    height: 101.8%;
	    position: absolute;
	    top: -6px;
	    left: auto;
	    border-top: solid 6px #e5007d;
	    border-left: solid 6px #e5007d;
	    border-bottom: solid 6px #e5007d;
	}
*/
	.x-anchor-text {
		position: relative;

		&::after {
			content: "";
			height: 20px;
			width: 20px;
			position: absolute;
			border: solid $navy;
			border-radius: 4px;
  			border-width: 0 7px 7px 0;
  			display: block;
  			padding: 3px;
  			transform: rotate(-45deg);
  			-webkit-transform: rotate(-45deg);
  			top: 0;
  			right: -25px;
		}
	}
}

.e53-51 {
			.x-anchor-text::after {
				content: "";
			height: 20px;
			width: 20px;
			position: absolute;
			border: solid white;
			border-radius: 4px;
  			border-width: 0 7px 7px 0;
  			display: block;
  			padding: 3px;
  			transform: rotate(-45deg);
  			-webkit-transform: rotate(-45deg);
  			top: 0;
  			right: -25px;
			}
		}

.e53-72.x-column {
	background-image: url(/wp-content/themes/x-child/assets/images/blank.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        mix-blend-mode: multiply;
        background-image: linear-gradient(to bottom, #1567b0, #27bae0);
    }
}

#gform_submit_button_2 {
	font-weight: 700!important;
	text-shadow: none!important;
	box-shadow: none!important;
	padding: 10px 30px;
	font-size: 18px;
}

.gfield_label{
	color: $navy!important;
	font-weight: 700!important;
	font-size: 18px!important;
	padding-left: 10px!important;
}

@media screen and (max-width: 980px) {
	.x-section .x-container.marginless-columns>.x-column {
		display: block!important;
		float: none;
		width: 100%!important;
		padding: 100px 20px;
	}

	.x-text {
		margin: 20px 0!important;
		width: 100%!important;
	}

	.e53-7.x-column.x-sm.x-1-2 {
		display: none!important;
	}

	.e53-8, .e53-20, .e53-13  {
		padding: 0!important;
	}

	.e53-21, .e53-31, .e53-39, .e53-9 {
		margin: 0 auto!important;
	}

	.e53-27 {
		margin: 100px auto 0!important;
	}

	.e53-32, .e53-33, .e53-36, .e53-22 {
		margin: 0 auto!important;
		padding: 0!important;
		text-align: center!important;

		.x-text, p {
			text-align: center!important;
		}
	}

	.e53-41 {
		p, .x-text {
			text-align: center!important;
		}
	}

	.e53-44, .e53-51, .e53-20 {
		margin: 20px auto 0!important;
	}

	.e63-5 {
		padding: 0!important;
	}


}