#tribe-events-content-wrapper {
    .tribe-bar-filters-inner {
        background-color: #f9f8f8;
        border-radius: 6px;
        box-shadow: 0px 3px 3px -3px grey;
        width: 100%;
        padding: 0 20px;

    }

    #tribe-events-bar {
    	margin-top: 40px;
    }

    .tribe-bar-date-filter, .tribe-bar-search-filter {
    	width: 39%;
    }

    input {
        background-color: white !important;
        border: .5px solid #c9c9c9 !important;
        border-radius: 5px !important;
        padding: 10px 20px !important;
        font-weight: 700;
    }



    label {
        text-transform: none !important;
        font-size: 18px;
        font-family: 'Fredoka One', cursive;
        color: $blue;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .tribe-bar-submit {
        float: right;
        margin: 20px 0 0 !important;
        width: 21%;

        input {
            background-color: $yellow !important;
            font-family: 'Fredoka One', cursive;
            text-transform: none !important;
            text-shadow: none;
            font-size: 18px !important;
            font-weight: 400 !important;
            border: 2px solid $yellow !important;
            border-radius: 30px !important;
            width: 100% !important;
        }
    }

    img {
    	width: 100%;
    	max-height: 360px;
    	height: auto;
    	vertical-align: middle;
    	border-top-left-radius: 8px;
    	border-top-right-radius: 8px;
    }

    h1 {
    	
    }

    h3 {
		font-size: 24px!important;
	}
	
}

.events-archive .entry-content,
.events-archive .entry-header {
    margin: 0 auto;
}

.tribe-events-loop{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: none!important;
}

.tribe-events-list-separator-month {
	display: none;
}

.tribe-events-list-separator-month+.type-tribe_events.tribe-events-first{
	padding: 0!important;
}

.type-tribe_events {
	background-color: #f9f8f8;
	border-radius: 8px;
    box-shadow: 10px 10px 10px -8px grey;
	margin-right: 5%!important;
	margin-top: 30px!important;
	width:100%;

	max-width: 30%;
        flex: 1 0 30%;

	&:nth-of-type(3n) {
		margin-right: 0!important;
	}

	.post-content {
		padding: 20px 30px;

	}
}

.tribe-events-list-event-description {
	border-bottom: 1px solid #c9c9c9!important;
	margin: 20px 0;

}

.tribe-events-event-meta {
	label, span, #text {
		font-size: 14px!important;
		font-style: normal!important;
		margin-bottom: 0px!important;
	}
}

#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
	margin: 0 0 20px;
}



