.single-tribe_events {


	.tribe-events-schedule h2 {
		display: none;
	}

	.type-tribe_events {
		background: transparent;
		box-shadow: none;
		max-width: 100%;
	}

	.tribe-events-event-meta {
		margin: 0;
		display: flex;
		flex-direction: column;
		background: transparent;
		border: none;
	}

	.tribe-events-meta-group {
		margin: 20px 0;
		width: 100%;
		background-color: #f9f8f8;
		border-radius: 8px;
		box-shadow: 0px 3px 3px -3px grey;
	}

	abbr[title] {
		text-decoration: none;
	}

	.tribe-events-single-section-title {
		font-size: 20px!important;
		font-weight: normal!important;
	}

	.tribe-events-venue-map {
		width: 100%!important;
		padding: 0!important;
		background: transparent;
		border: none;
	}

    @media screen and (max-width: 980px) {

		.tribe-events-single-section-title {
			margin-top: 20px!important;
		}

		li {
			display: flex;
			flex-direction: column;
		}

	}

	
}

ul.tribe-related-events {

	h3 {
		font-weight: normal!important;
		font-size: 24px!important;
		margin-top: 10px!important;

		a {
			font-weight: normal!important;
		}
	}

	.related-post-date {
		font-size: 14px;
		margin: 15px 0 10px!important;

		label {
			display: inline-block;
			font-weight: bold;
		}
	}

	li {
		background-color: #f9f8f8!important;
        border-radius: 8px;
        box-shadow: 0px 3px 3px -3px grey;
	}

	.tribe-related-event-info {
		padding: 10px 20px!important;
	}

	.tribe-events-list-event-description {
		margin: 0!important;
		padding: 0px 0 20px!important;
		line-height: 1.56;
		font-size: 14px;
	}

    @media screen and (max-width: 980px) {

		.tribe-related-events-thumbnail, .tribe-related-event-info {
			width: 100%!important;
		}

	}

}