
/*---------- Footer ----------*/

.x-colophon {

	color: white!important;

	a, h4 {
		color: white!important;
	}

	.widget {
		text-shadow: none;
		font-size: 19px;
		margin-top: 40px!important;

		h4 {
			font-size: 23px;
		}
	}

	.widget_nav_menu ul li a, .widget_meta ul li a, .widget_pages ul li a, .widget ul {
		border: none!important;
		box-shadow: none!important;
		padding: 0;
	}

/*---------- Footer Columns ----------*/

	.x-colophon-top {
		@media screen and (max-width: 980px) {
				display: flex;
				flex-direction: column;
	  			
	  	}
	}
	.x-1-4 {

		margin-right: 1%!important;

		&:first-child {			/*--------- 1st Column ---------*/

			width: 24%!important;
			margin-left: 0%!important;
			//background-color: red;

			@media screen and (max-width: 980px) {
				float: none;
	  			width: 100%!important;
	  			text-align: center;
	  			margin: 0 auto!important;

	  		}
		}

		&:nth-child(2) {		/*---------- 2nd Column ----------*/
			width: 12%!important;
			//background-color: blue;


			.menu {
				margin-top: 20px;
			}

			a{
				font-weight: 400!important;
				text-decoration: underline;
				line-height: 1.72;

				&::before {
					display: none;
				}
			}

			#footer_mobile_menu {
				display: none;
			}

	  		@media screen and (max-width: 980px) {
	  			float: none;
	  			width: 100%!important;
	  			text-align: center;
	  			margin: 0 auto!important;
	  			padding: 0!important;

	  			#nav_menu-2 {
	  				display: none;
	  			}

	  			#footer_mobile_menu {
					display: block;
				}

				a {
	  				text-decoration: none!important;
				}
	  		}
		}

		&:nth-child(3) {		/*---------- 3rd Column ----------*/
			width: 31%!important;
			text-align: center;
			padding: 0 10px;
			//background-color: green;

			h4 {
				font-size: 23px;
				margin-top: 5px;
			}	

			.times {
				border: 2px solid #1567b0;
				margin-top: 30px;
				padding: 15px 0px;
				font-size: 18px;
			}

			@media screen and (max-width: 980px) {
	  			float: none;
	  			width: 100%!important;
	  			text-align: center;
	  			margin: 0 auto!important;
	  			padding: 0!important;
	  		}

		}

		&:nth-child(4) {		/*---------- 4th Column ----------*/
			width: 30%!important;
			margin-right: 0%!important;
			padding: 0 10px 0 35px;
			//background-color: orange;

			h4 {
				margin-top: 5px;
				font-size: 26px;
				text-align: center;
			}

			#social_widget-2 {
				display: flex;
				float: right;
			}

			#social_widget-2 {

				margin-top: 0!important;

				h4 {
					font: inherit;
					font-weight: 400;
					font-size: 16px;
					line-height: 1.4;
				}
			}

			.x-social-global {
				margin-left: 10px;

				a {
					margin: 0 10px;
					padding: 10px;
					color: white;
					border: 2px solid white;
					border-radius: 50%;

					&:first-child {
						padding: 10px 15px;
					}
				}
			}

			@media screen and (max-width: 980px) {
	  			float: none;
	  			width: 100%!important;
	  			text-align: center;
	  			margin: 0 auto!important;
	  			padding: 0!important;

	  			#social_widget-2 {
	  				float: none;
	  				justify-content: center;
	  				margin-top: 100px!important;
	  			}
	  		}

		}
	}

/*---------- Footer Newsletter Form ----------*/

	.gform_body {
		box-shadow: none!important;

		input[type=text] {
			background-color: transparent!important;
			font-size: 14px!important;
			margin-top: 15px!important;
			border: 2px solid #1567b0;
			border-radius: 0;
			padding: 24px!important;
			color: white;

			&:focus {
				border: 2px solid #1567b0;
				box-shadow: none;
			}
		}
		
		li {
			padding: 0px!important;
			box-shadow: none!important;

			&:hover {
				background-color: transparent!important;
			}
		}

		
	}

	.x-btn:hover, .button:hover, [type="submit"]:hover {
			background-color: $navy!important;
			border: 2px solid $yellow!important;
			color: white!important;
			top: 13px!important;
		}

	form {
		position: relative;
	}

	.gform_footer {

		input[type=submit] {
			box-shadow: none!important;
			margin: 0!important;
			font-size: 20px;
			font-weight: 700!important;
			color: #19355c;
			border: 1px solid $yellow;
			text-shadow: none!important;
			position: absolute;
			top: 15px;
			right: 0;

			@media screen and (max-width: 640px) {
				top: 80px;
				width: 50%!important;
				margin: 0 auto!important;
				left: 0;
				right: 0;
				text-align: center;
				padding: 5px;
			}
		}
	}

/*---------- Footer Dropdown Menu ----------*/

	.x-accordion{

		border: 1px solid white;

		.x-accordion-heading {
			background-color: transparent;
			color: white;
			

			.x-accordion-toggle {
				background-color: transparent;
				color: white;

				&:hover {
					&::after {
						content: '';
					    border: 6px solid transparent;
					    border-bottom: 10px solid white;
					    margin-left: 10px;
					    margin-bottom: 5px;
					    display: inline-block;
					}
				}

				&.collapsed {
					&::after {
						content: '';
					    border: 6px solid transparent;
					    border-top: 10px solid white;
					    margin-left: 10px;
					    margin-bottom: -3px;
					    display: inline-block;
					}
				}
			}
		}

		.x-accordion-inner {
			background-color: transparent;
			color: white;
			border-top: 1px solid white;

			a {
				color: white;
			}

		}
	}

	.widget_text ol, .widget_text ul {
		list-style: none;
		margin: 0!important;
	}

/*---------- Footer Top ----------*/

	&.top {
		padding: 4% 0 4%!important;
		background-color: #19355c;

		.x-container {

		}//x-container
	}//top

/*---------- Footer Bottom ----------*/

	&.bottom {
		padding: 30px 0px 0!important;

		@media screen and (max-width: 1411px) {
	  		padding: 20px 20px 0!important;
	  	}


		.x-nav {
			float: left;
			margin: 0!important;

			li {
				margin: 0!important;

			}

			a{
				font-family: inherit;
	  			font-size: 12px;
	  			line-height: 2.33;
	  			text-transform: none!important;
	  			font-weight: 400!important;
	  			color: #4a4a4a;
	  			letter-spacing: 0!important;

	  			&::after {
	  				content: " - ";
	  				display: inline-block;
	  				margin: 0 5px;

	  			}
  			}

  			.menu-item-123{
	  				a::after {
	  					display: none;
	  				}
	  			}

			@media screen and (max-width: $large_mobile_break) {
				float: none;
				margin: 0 0 2%!important;
			}

			@media screen and (max-width: 813px) {
	  			float: none;
	  			margin: 0 auto;
	  		}

			@media screen and (max-width: 424px) {
				float: none;
				display: flex;
				flex-direction: column;

				a::after {
					display: none;
				}
			}
		}//x-nav


		.x-social-global {
			display: none!important;
		}

		.x-colophon-content {
			float: right;
			margin: 0!important;
			display: flex;
			letter-spacing: 0!important;

			@media screen and (max-width: $large_mobile_break) {
				float: none;
			}

			@media screen and (max-width: 813px) {
	  			float: none;
	  			margin: 0 auto;

	  			ul {
	  				margin: 5% auto;
	  			}
	  		}

			ul {
				display: flex;
				list-style: none;
				li:nth-child(2) {
					width: 161px;
					height: 69px;
	  				background-image: url(/wp-content/themes/x-child/assets/images/fundraise.png);
			        background-repeat: no-repeat;
			        background-position: center;
			        background-size: contain;
			        margin-top: -20px;
			        margin-left: 16px;

				}

				@media screen and (max-width: 424px) {
					float: none;
					flex-direction: column;

					li {
						margin: 30px auto;
					}
				}
			}

			p {
				margin: 0!important;
				font-size: 15px;
				line-height: 1.87;
				color: #4a4a4a;
				position: relative;
			}
		}//x-colophon-content
	}//bottom
}//x-colophon
