.x-column {
	margin-right: 3%!important;

	&:last-of-type {
		margin-right: 0!important;
	}
}

.x-1-2 {
	width: 48.5%!important;

	&:nth-child(2n) {
		margin-right: 0!important;
	}

	@media screen and (max-width: $large_mobile_break) {
		width: 100%!important;
		margin-right: 0!important;
	}
}//x-1-2

.x-1-3 {
	width: 31.333%!important;

	&:nth-child(3n) {
		margin-right: 0!important;
	}

	@media screen and (max-width: $tablet_break) {
		width: 48.5%!important;

		&:nth-child(3n) {
			margin-right: 3%!important;
		}

		&:nth-child(2n) {
			margin-right: 0!important;
		}
	}

	@media screen and (max-width: $large_mobile_break) {
		width: 100%!important;
		margin-right: 0!important;
	}
}//x-1-3

.x-1-4 {
	width: 22.75%!important;

	&:nth-child(4n) {
		margin-right: 0!important;
	}

	@media screen and (max-width: $tablet_break) {
		width: 48.5%!important;

		&:nth-child(2n) {
			margin-right: 0!important;
		}
	}

	@media screen and (max-width: $large_mobile_break) {
		width: 100%!important;
		margin-right: 0!important;
	}
}//x-1-4
