/*---------- HomePage Header ----------*/

.home {

    .x-navbar {
        .x-container {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .x-navbar .x-nav-wrap .x-nav>li>a {
        text-transform: none !important;
        font-weight: 700 !important;

        &:hover {
        	color: white!important;
        	box-shadow: none!important;
        }
    }

    .x-navbar {
        background-color: transparent !important;

        .x-container {
            background-color: transparent !important;
        }

        img {
            padding: 0;
        }

        .desktop .x-nav>li>a {
            padding-top: 0px !important;
            padding-left: 10px !important;

        }

        .desktop .x-nav>li ul {
            background: white!important;
            box-shadow: 0px 3px 3px -3px grey!important;
        }

        ul {
            padding-top: 85px!important;
        }

        #menu-item-276 {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0!important;

            a{
                background-color: $yellow;
                color: $navy;
                padding: 20px 40px!important;
                height: 50px!important;
                
            border: 2px solid $yellow;

                &::after {
                    display: none;
                }

                &:hover {
                    background-color: transparent!important;
                    color: white!important;
                    opacity: 1;
                    border: 2px solid $yellow;
                }

            }
        }

        li:last-child {
            padding-right: 0px!important;
        }

        a:hover {
        	box-shadow: none!important;
        }
    }

    .sub-menu {
        margin-top: 30px!important;
        margin-left: 15px!important;
        background: white!important;
        border-radius: 0!important;
        padding-top: 10px!important;
        

        &::before {
        	display: none;
        }

        a {
            color: $navy!important;

            &:hover {
                color: $navy!important;
                background: $yellow!important;
                opacity: 1;
            }
        }
    }

    .entry-wrap,
    .x-navbar {
        border: 0px !important;
        box-shadow: none !important;
    }

    .x-brand {
    	margin-top: 30px!important;
    	img {
    		padding: 0!important;
    	}
    }

    .x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a {
	box-shadow: none!important;
}

    .x-navbar li:first-child>a {
    }


/*---------- Responsive Media ----------*/


    @media screen and (max-width: 1153px) {

    	.x-navbar .desktop .x-nav>li>a {
    		padding-top: 36px!important;
    	}

        .e2-1.x-section {
        	margin-top: -17em;
        }

        .e2-4.x-text {
            margin-top: 400px!important;
            width: 60% !important;
        }

        .e2-12.x-anchor {
            margin: 40px 200px 200px 45px !important;
        }
    }

    @media screen and (max-width: 1050px) {
        .x-navbar {

            li:last-child {
                padding-right: 0px;
            }
        }

        .e2-4.x-text {
            margin-top: 350px!important;
            width: 70% !important;
        }

        .e2-12.x-anchor {
            margin: 40px 200px 200px 15px !important;
        }
    }

    @media screen and (max-width: 980px) {

        .e2-1 {
        	text-align: center;
        }

        .e2-4.x-text {
            width: 100% !important;
            text-align: center;
        }

        .x-btn-navbar {
        	margin-top: 45px;
            padding: 0!important;
        	color: white!important;
        	background-color: transparent!important;
        	box-shadow: none!important;

        	
        }

        .x-navbar {
        	position: relative;
        	box-shadow: none!important;
            text-align: center!important;


            a{
                padding: 15px 0!important;
            }

        	a:hover {
        		box-shadow: none!important;

        	}

            li:first-child>a {
                padding-left: 0!important;
            }

            ul {
                padding: 10px 0!important;
            }

        	/*a:hover {
        		transform: rotate(90deg);
        		transition: 1s;
        		box-shadow: none!important;
        	}

        	.x-btn-navbar.collapsed:hover {
        		transform: rotate(0deg);
        		transition: 1s;
        	}

        	.x-nav-wrap .x-nav>li>a:hover {
        		transform: none;
        	}*/

        	.mobile {
        		position: relative;
        		width: 100%;
        		margin-top: 110px;


        		&::before {
			        content: "";
			        display: block;
			        position: absolute;
			        width: 100%;
			        height: 100%;
			        opacity: .9;
			        background-color: transparent!important;
			        border-radius: 4px;
			    }

			    .x-nav {
			    	padding: 10px 30px;

                    li {
                                        border: .5 solid grey!important;

                    }
			    }
        	}
        }
    }

    

    .x-navbar .mobile .x-nav li>a {
        border-top: 1px solid grey;
        position: relative;



        .menu-item-276 {
            border-bottom: none!important;
        }
    }

    .x-btn-navbar-search {
    }


}