
/*---------- HomePage Content ----------*/

.e2-1.x-section {

   

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.74;
        mix-blend-mode: multiply;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #1567b0);
    }

}

.x-boxed-layout-active .site,
.x-boxed-layout-active .x-site {
    border: 0px !important;
    box-shadow: none !important;
}

.e2-120.x-anchor {
    margin: 0 !important;
}

.x-image {
	max-width: 90%;
}

/*.e2-20 {
    position: relative;

    &::after {
		display: block;
	    content: "";
	    width: 380px;
	    height: 112.2%;
	    position: absolute;
	    top: -30px;
	    right: 15%;
	    border-top: solid 30px $yellow;
	    border-bottom: solid 30px $yellow;
	    border-right: solid 30px $yellow;
	}
}*/

/*.e2-24 {
    position: relative;

    &::before {
		display: block;
	    content: "";
	    width: 500px;
	    height: 116.5%;
	    position: absolute;
	    top: -30px;
	    left: auto;
	    border-top: solid 30px $blue;
	    border-left: solid 30px $blue;
	    border-bottom: solid 30px $blue;
	}

}*/





/*---------- Responsive Media ----------*/


@media screen and (max-width: 980px) {
	.x-column {
		width: 100%!important;
		padding: 20px 5%;
		margin-right: 0!important;
		text-align: center!important;
	}

	.e2-8, .e2-10,  {
		padding: 0!important;
		margin: 0!important;
	}

	.e2-33.x-text {
		padding: 0!important;
		margin-top: 0!important;
		margin-bottom: 40px!important;
	}

	.e2-18.x-anchor {
		margin-top: 20px!important;
	}

	 .e2-29.x-section, .e2-58 {
	 	margin-top: 60px!important;
	 	margin-bottom: 20px!important;
	 }

	.e2-22.x-container, .e2-12.x-section, .e2-53, .e2-55 {
		margin: 0 auto!important;
		padding: 0!important;
	}

	.e2-54.x-text .x-text-content-text-primary,  .e2-27.x-text {
		text-align: center!important;
	}

	.e2-56.x-anchor {
		margin: 0!important;
	}

	.e2-15.x-text, .e2-16.x-text, .e2-25.x-text, .e2-26.x-text, .e2-54.x-text {
		width: 100%!important;
		margin: 10px auto!important;
		text-align: center!important;
	}

	.e2-32.x-text {
		padding: 0!important;
	}

	.e2-20.x-image {
		margin: 0!important;
	}

	.e2-62 {
		margin-bottom: 0!important;
	}

	.e2-11, .e2-21 {
		margin: 20px auto!important;
	}

	.e2-54.x-text .x-text-content-text-primary, h2, h3 {
		text-align: center!important;
	}

	.x-image {
		max-width: 90%!important;
	}

}