/*------- Two Column Grid -------*/

.post-grid-2col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .column {
        text-align: center;
        margin-right: 10%;
        background-color: #f9f8f8;
        border-radius: 8px;
        box-shadow: 10px 10px 10px -8px grey;

        max-width: 45%;
        flex: 1 0 45%;


        &:nth-child(2n) {
            margin-right: 0 !important;
        }

        &:nth-child(n+3) {
            margin-top: 70px;
        }

        p {
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.56;
            color: $navy;
            margin-top: 20px;
            padding: 0 40px;
        }
    }
}

#search-filter-form-363 {

	.search-filter-reset {
		box-shadow: none;
		text-shadow: none;
		padding: 15px 10px;
		text-align: left;
		width: 300px;
		position: relative;
		border: 2px solid $yellow;
		background-color: $yellow;


		&:hover {
			background-color: transparent;
			border: 2px solid $yellow;
			color: $navy;
		}
	}

	.sf-field-reset {
		position: relative;

		&::after {
            content: "\00d7";
            color: white;
            font-size: 40px;
            font-weight: 700;
            height: 20px;
            width: 20px;
            position: absolute;
            display: block;
            top: 8px;
            right: 160px;
        }
	}

    .sf-field-search {
        position: relative;

        &::after {
            content: "";
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            height: 20px;
            width: 20px;
            position: absolute;
            display: block;
            top: 20px;
            right: 158px;
        }
    }

    .sf-label-checkbox {
    	color: $navy;
    	font-size: 14px;
    }
}

/*------- Three Column Grid -------*/

.post-grid-3col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .column {
        text-align: center;
        margin-right: 8%;
        background-color: #f9f8f8;
        border-radius: 8px;
        box-shadow: 10px 10px 10px -8px grey;

        min-width: 20%;
        flex: 1 0 20%;


        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n+4) {
            margin-top: 70px;
        }

        p {
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.56;
            color: $navy;
            margin-top: 20px;
            padding: 0 40px;
        }
    }

    label {
        position: relative;

        &::after {
            content: "";
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            height: 20px;
            width: 20px;
            position: absolute;
            display: block;
            top: 10px;
            right: 20px;
        }

    }

    @media screen and (max-width: 980px) {

    	display: block;

		.column {
			width: 100%!important;
		}

		.post-bottom {
			padding: 20px 0;
		}

		.x-column {
			padding: 0!important;
		}

	}
}

#search-filter-form-321,
#search-filter-form-328 {
    label {
        position: relative;

        &::after {
            content: "";
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            height: 20px;
            width: 20px;
            position: absolute;
            display: block;
            top: 10px;
            right: 20px;
        }
    }
}

/*------- Image (Top) & Text (Bottom) -------*/

.post-top {
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
    padding-bottom: .5px;
    border-bottom: .5px solid #d2d4d6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-bottom {
    margin: 50px 0;

    h4 {
        margin-top: 0;
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .read-more {
        background-color: $yellow;
        color: white;
        padding: 10px 40px;
        font-size: 16px;
        border: 2px solid $yellow;
        border-radius: 30px;
        display: block;
        max-width: 50%;
        margin: 20px auto;

        &:hover {
            background-color: transparent;
            color: $navy;
            border: 2px solid $yellow;
            border-radius: 30px;
        }
    }
}

/*---------- Stuff ----------*/

form {
    margin: 0 !important;
}

.searchandfilter ul {
    margin: 0 auto !important;

    input[type="text"] {
        width: 300px;
        position: relative;

    }


    h4 {
        font-size: 20px;
    }
}

/* Team */

 .team .x-1-3 {
    text-align: center;
    margin-right: 8%;
    background-color: #f9f8f8;
    border-radius: 8px;
    box-shadow: 10px 10px 10px -8px grey;
    margin-bottom: 40px;

    .post-bottom h4 {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    strong{
        display: block;
    }
}

.popmake-content{
    h4{
        margin-top: 0!important;
    }
}

/* News */

.news .x-1-3 {
    text-align: center;
    margin-right: 8%;
    background-color: #f9f8f8;
    border-radius: 8px;
    box-shadow: 10px 10px 10px -8px grey;
    margin-bottom: 40px;

    .post-bottom h4 {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    strong{
        display: block;
    }
}




