.single-post{

	.x-section.section--hero {
	    height: 300px;
	}
	.has-post-thumbnail .entry-featured {
	    display:none;
	}

	h1{
		display: block;
		text-align: center;
		margin-bottom:75px;
	}

	.entry-content {
		margin:0;
	    font-size: 18px;
	}

	.section--social-share{
		ul{
			list-style: none;

			li {
			    font-size: 30px;
			    border: 1px solid rgb(21,103,176);
			    border-radius: 50px;
			    max-width: 55px!important;
			    margin: 0 auto 20px auto;
			    a{
			    	padding-left: 12px;
			    	color: rgb(21,103,176);
			    }
			}

			li.share__facebook a{
				padding-left:18px;
			}
		}
	}

	.widget ul, .widget ol {
	    border: 0px solid #ddd;
	    box-shadow: 0 0px 0px rgba(255,255,255,0.95);
	    margin-bottom:30px!important;
	}

	.widget ul li, .widget ol li {
	    border-bottom: 0px solid #ddd;
	    padding: 0 0 15px 0;
	    box-shadow: 0 0px 0px rgba(255,255,255,0.95);
	}

	.widget.widget_recent_entries li a {
	    font-weight: 400!important;
	    font-size: 18px!important;
	}

	.widget ul li a, .widget ol li a {
	    border-bottom: 0px dotted;
	    color: #7a7a7a;
	    font-weight: 400!important;
	     font-size: 18px!important;
	}
}