@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");

body {
	-webkit-font-smoothing: antialiased!important;
}

h1, .h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 80px!important;
	line-height: 1.13!important;

	@media screen and (max-width: $large_mobile_break) {
		font-size: 50px!important;
	}
}

h2, .h2 {
	font-family: 'Fredoka One', cursive;
	font-size: 50px!important;
	line-height: normal!important;

	@media screen and (max-width: $large_mobile_break) {
		font-size: 40px!important;
	}
}

h3, .h3 {
	font-family: 'Fredoka One', cursive;
	font-size: 28px!important;
	line-height: normal!important;

	@media screen and (max-width: $large_mobile_break) {		
	}
}

h4, .h4 {
	font-family: 'Fredoka One', cursive;
}

h5, .h5 {}

h6, .h6 {}

input, textarea, select {
	font-weight: 300!important;
}


.x-anchor-text-primary {
	font-weight: 700!important;
	padding: 0 10px;
}

a {
	transition: all 0.2s ease!important;
	font-weight: bold!important;
	text-transform: normal!important;

	&:hover {
		transition: all 0.2s ease!important;
	}
}

.x-quote-cite-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: $navy;
	text-transform: none!important;
	letter-spacing: normal;
	margin-top: 30px!important;
}
