$font_family: placeholder;
$brand_color: placeholder;
$secondary_color: placeholder;

$mobile_break: 676px;
$large_mobile_break: 767px;
$tablet_break: 979px;
$desktop_break: 1200px;

$navy: #19355c;
$blue: #1567b0;
$yellow: #fbbc02;